In [1]:
import folium
import pandas as pd

In [2]:
data=pd.read_csv("C:\datasets\world\worldcities.csv")
data.head()

        city city_ascii      lat  ...  capital  population          id
0      Tokyo      Tokyo  35.6870  ...  primary  37785000.0  1392685764
1    Jakarta    Jakarta  -6.1750  ...  primary  33756000.0  1360771077
2      Delhi      Delhi  28.6100  ...    admin  32226000.0  1356872604
3  Guangzhou  Guangzhou  23.1300  ...    admin  26940000.0  1156237133
4     Mumbai     Mumbai  19.0761  ...    admin  24973000.0  1356226629

[5 rows x 11 columns]

In [3]:
data.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [3]:
data.drop(['iso2','iso3'],axis=1,inplace=True)

In [ ]:
data.city

In [5]:
world_map = folium.Map(location=[0, 0], zoom_start=2, tiles="CartoDB positron")

In [6]:
from folium.plugins import MarkerCluster

marker_cluster = MarkerCluster().add_to(world_map)

for _, row in data.iterrows():
    folium.Marker(
        location=[row['lat'], row['lng']],
        popup=row['city']
    ).add_to(marker_cluster)

In [5]:
test_map=folium.Map(location=[0,0],zoom_start=2,tiles="Cartodb Positron")

In [6]:
from folium.plugins import FastMarkerCluster
f_marker=FastMarkerCluster(data[['lat', 'lng']].values.tolist()).add_to(test_map)
test_map.save('world_cities_map_fast')

In [ ]:
world_map.save("world_cities_map.html")

In [8]:
data['capital'].value_counts()

capital
minor      11248
admin       3639
primary      251
Name: count, dtype: int64

In [9]:
country_data=data.copy()

In [10]:
primary_df = country_data[country_data['capital'] == 'primary']
country_capitals = primary_df.drop_duplicates('country')

In [11]:
country_capitals

,city,city_ascii,lat,lng,country,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6870,139.7495,Japan,Tōkyō,primary,37785000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,Jakarta,primary,33756000.0,1360771077
5,Manila,Manila,14.5958,120.9772,Philippines,Manila,primary,24922000.0,1608618140
8,Seoul,Seoul,37.5667,126.9833,"Korea, South",Seoul,primary,23016000.0,1410836482
9,Mexico City,Mexico City,19.4333,-99.1333,Mexico,Ciudad de México,primary,21804000.0,1484247881
...,...,...,...,...,...,...,...,...,...
47654,Basse-Terre,Basse-Terre,16.0104,-61.7055,Guadeloupe,NaN,primary,307.0,1312938008
47679,Ngerulmud,Ngerulmud,7.5006,134.6242,Palau,Melekeok,primary,271.0,1585525081
47750,Adamstown,Adamstown,-25.0667,-130.0833,Pitcairn Islands,NaN,primary,47.0,1612000000
47876,King Edward Point,King Edward Point,-54.2833,-36.5000,South Georgia And South Sandwich Islands,NaN,primary,NaN,1239048838
48058,Charlotte Amalie,Charlotte Amalie,18.3420,-64.9331,U.S. Virgin Islands,Virgin Islands,primary,NaN,1850037473

In [7]:
import folium

# Create a map centered at a location
m = folium.Map(location=[20.5937, 78.9629], zoom_start=5)

# Define a list of coordinates (lat, lon)
route = [
    [28.6139, 77.2090],  # Delhi
    [26.9124, 75.7873],  # Jaipur
    [25.3176, 82.9739]   # Varanasi
]

# Add the line to the map
folium.PolyLine(route, color="blue", weight=2.5, opacity=1).add_to(m)

# Save the map
m.save("route_map.html")